table th{
                background-color:gray;
                border-collapse:collapse;
                border:1px solid black;
            }
            table tr,td{
                 border-collapse:collapse;
                border:1px solid black;
            }
            #seaech:hover{
            	background-color: gray;
            }